<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="1800 seconds" debug="false">

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>
					%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<!-- 打印sql -->
	<logger name="com.neo.admin.system.modular" level="debug" additivity="true">
		<appender-ref ref="stdout" />
	</logger>

	<root level="info">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>